




.sectionA {
  height: 60vh;
}

.sectionB {
  height: 50vh;
}

.sectionC {
  height: 100vh;
}

.two-boxes{

}

@media (max-width: 767px) {
  .sectionA {
    height: 100vh;
  }
.sectionB {
  height: 100vh;
}
  .two-boxes{
    /* height: 100vh;     */
    /* border:1px solid red; */
  }
}